.menuContainer{
    background:#ffffff;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.menuItem{
    list-style: none;
}

.menuLink{
    text-decoration: none;
    color: #242424;
    font-size: 1rem;
    font-weight: 700;
}

@media (max-width:765px){
    .menuContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}